.invite__inner {
  border-top: 1px solid rgba(20, 20, 20, .3);
}

._btn {
  transition: all $animation_speed;

  &--white-to-white {
    background: rgba(255, 255, 255, .3);
    color: #fff;

    @media (hover: hover) {
      &:hover {
        background-color: #fff;
        color: #141414
      }
    }
  }

  &--green-to-black {
    background-color: #65684c;
    color: #fff;

    @media (hover: hover) {
      &:hover {
        background-color: #141414;
        color: #fff;
      }
    }
  }

  &--green-to-green {
    background: rgba(101, 104, 76, .1);
    color: #65684c;

    @media (hover: hover) {
      &:hover {
        background-color: #65684c;
        color: #fff;
      }
    }
  }

  //Для кнопок у которых есть статус активности
  &--green-to-green-tab {
    background: rgba(101, 104, 76, .1);
    color: #65684c;

    @media (hover: hover) {
      &:hover {
        background: rgba(101, 104, 76, .2);
      }
    }

    &._active {
      color: #fff;
      background: #65684c;

    }
  }

  //Для кнопок у которых hover с минимальным изменением цвета фона
  &--green-to-green-min-active {
    background: rgba(101, 104, 76, .1);
    color: #65684c;

    @media (hover: hover) {
      &:hover {
        background: rgba(101, 104, 76, .2);
      }
    }
  }
}