.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 0px;
  width: 100%;

  &--white {
    .header__logo {
      background-image: url('/img/logo-ch-ch-black.svg');
    }

    .nav__link,
    .header__phone,
    .header__lang {
      color: rgba($color: #141414, $alpha: 1.0);
    }

    .header__social {
      a {
        &.tg {
          background-image: url('/img/icons/Telegram-black.svg');
        }

        &.vk {
          background-image: url('/img/icons/Vk-black.svg');
        }

        &.zen {
          background-image: url('/img/icons/Zen-black.svg');
        }

        &.wa {
          background-image: url('/img/icons/Whatsapp-black.svg');
        }
      }
    }
  }

  // .header__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
  }

  // .header__logo

  &__logo {
    width: 86px;
    height: 40px;
    background-image: url('/img/logo-ch-ch.svg');

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .header__nav

  &__nav {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  // .header__actions

  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  // .header__actions-wrap

  &__actions-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    overflow: hidden;

    a {
      @media (hover:hover) {
        &:hover {
          .text-swap {
            transform: translateY(-100%);
          }
        }
      }
    }
  }

  // .header__phone

  &__phone {
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-weight: 300;
  }

  // .header__lang

  &__lang {
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-weight: 300;
  }

  // .header__burger

  &__burger {
    width: 32px;
    height: 32px;
    padding: 4px;
    background-image: url('@img/icons/Menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;


    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  // .header__social

  &__social {
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      display: block;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &.tg {
        background-image: url('/img/icons/Telegram.svg');
      }

      &.vk {
        background-image: url('/img/icons/Vk.svg');
      }

      &.zen {
        background-image: url('/img/icons/Zen.svg');
      }

      &.wa {
        background-image: url('/img/icons/Whatsapp.svg');
      }

      &.tg,
      &.vk,
      &.zen,
      &.wa {
        transition: .3s;

        @media (hover:hover) {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }


  }
}

.nav {

  // .nav__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  // .nav__item

  &__item {
    position: relative;
    overflow: hidden;

    @media (hover:hover) {
      &:hover {
        .text-swap {
          transform: translateY(-100%);
        }
      }
    }
  }

  // .nav__link

  &__link {
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
  }
}