@font-face {
	font-family: AeonikProTRIAL;
	font-display: swap;
	src: url("../fonts/AeonikProTRIAL-Light.woff2") format("woff2"), url("../fonts/AeonikProTRIAL-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: AeonikProTRIAL;
	font-display: swap;
	src: url("../fonts/AeonikProTRIAL-Bold.woff2") format("woff2"), url("../fonts/AeonikProTRIAL-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: AeonikProTRIAL;
	font-display: swap;
	src: url("../fonts/AeonikProTRIAL-Regular.woff2") format("woff2"), url("../fonts/AeonikProTRIAL-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
