.container {
  padding: 0px 24px !important;
  box-sizing: border-box !important;

  @media screen and (min-width: 1200px) {
    max-width: 1288px !important;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

picture {
  font-size: 0;
}

img {
  display: block;
}

h1 {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

main {
  &.main-top-margin {
    margin-top: 80px;

    @media screen and (max-width: 768px) {
      margin-top: 56px;
    }
  }
}

._no-grid {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba($color: #65684c, $alpha: 1.0);
}

.loader {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgba($color: #65684c, $alpha: .1);
  backdrop-filter: blur(24);
  font-size: 22px;
  color: rgba($color: #141414, $alpha: 1.0);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: $animation_speed;
}

/* Стили для точек */
.loader span {
  width: 16px;
  height: 16px;
  background-color: #65684c;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

/* Задержка для каждой точки */
.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader span:nth-child(3) {
  animation-delay: 0.6s;
}

._padded-section {
  padding: 120px 0px;

  @media screen and (max-width: 992px) {
    padding: 60px 0px;
  }
}

._title {
  color: rgb(101, 104, 76);
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: .6px;
  text-transform: uppercase;
  text-wrap: middle;


  @media screen and (max-width: 1200px) {
    font-size: 43px;
  }

  @media screen and (max-width: 992px) {
    font-size: 34px;
  }

  @media screen and (max-width: 992px) {
    font-size: 32px;
  }
}

._mb {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

._pc {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.hover-text {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.hover-text::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  /* Скрыто под кнопкой */
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  /* Наследует цвет текста */
  transition: transform 0.3s ease-in-out;
}

// .hover-text:hover {
//   color: transparent;
//   /* Скрывает основной текст */
// }

.hover-text:hover span {
  transform: translateY(-100%);
}