.container {
  padding: 0px 24px !important;

  @media screen and (min-width: 1200px) {
    max-width: 1288px !important;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

._btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 16px 32px;
  border-radius: 40px;
  backdrop-filter: blur(24px);
  background: rgba($color: #ffffff, $alpha: .3);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba($color: #ffffff, $alpha: 1.0);
}

._btn--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 16px 32px;
  border-radius: 40px;
  backdrop-filter: blur(24px);
  background-color: rgba($color: #65684C, $alpha: 1.0);
  color: rgba($color: #ffffff, $alpha: 1.0);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

._padded-section {
  padding: 120px 0px;

  @media screen and (max-width: 992px) {
    padding: 60px 0px;
  }
}

._title {
  color: rgb(101, 104, 76);
  font-size: 50px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: .6px;
  text-transform: uppercase;


  @media screen and (max-width: 1200px) {
    font-size: 43px;
  }

  @media screen and (max-width: 992px) {
    font-size: 34px;
  }

  @media screen and (max-width: 992px) {
    font-size: 32px;
  }
}