.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 658px;
  height: 100vh;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 40px 0px;
  }


  .container {
    height: 100%;
  }

  // .hero__inner

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  // .hero__title

  &__title {
    overflow: hidden;

    p {
      overflow: hidden;
      color: rgba($color: #ffffff, $alpha: 1.0);
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 1.2px;
      text-transform: uppercase;

      @media screen and (max-width: 1200px) {
        font-size: 45px;
      }

      @media screen and (max-width: 992px) {
        font-size: 38px;
      }

      @media screen and (max-width: 768px) {
        font-size: 32px;
      }
    }
  }

  // .hero__btn

  &__btn {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        color: rgba($color: #141414, $alpha: 1.0);
      }
    }
  }

  // .hero__logos

  &__logos {
    display: flex;
    overflow: hidden;
    width: 100%;
    opacity: .6;
  }
}

.offer__title .offer-text-line {
  display: inline-block;
  /* Чтобы элементы располагались в одну строку */
  transform: translateY(100%);
  /* Скрываем текст вниз */
  will-change: transform;
  /* Ускоряет работу анимации */
  overflow: hidden;
  /* Обрезаем текст за пределами родительского элемента */
}

.offer__title p {
  margin: 0;
  padding: 0;
}

.logos {
  display: flex;
  animation: slide 30s linear infinite;
  display: flex;
  align-items: center;
  gap: 80px;
  opacity: .6;
}

.offer {
  overflow: hidden;
  padding: 240px 0px 229px;

  @media screen and (max-width: 992px) {
    padding: 120px 0px 340px;
  }

  @media screen and (max-width: 768px) {
    padding: 60px 0px 340px;
  }

  .container {
    position: relative;
  }

  // .offer__content

  &__content {
    max-width: 1073px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  // .offer__title

  &__title {
    text-transform: none;

    p {
      overflow: hidden;
    }

  }

  // .offer__subtitle

  &__subtitle {
    max-width: 608px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    color: rgb(101, 104, 76);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;

    @media screen and (max-width: 992px) {
      font-size: 24px;
    }
  }

  // .offer__image

  &__image {
    position: absolute;

    &:nth-child(1) {
      width: 200px;
      height: 240px;
      top: -120px;
      left: -60px;

      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    &:nth-child(2) {
      width: 280px;
      height: 336px;
      bottom: 80px;
      right: -150px;

      @media screen and (max-width: 992px) {
        width: 200px;
        height: 250px;
        bottom: -252px;
        right: 24px;
      }

      @media screen and (max-width: 768px) {
        width: 160px;
        height: 192px;
      }
    }

    &:nth-child(3) {
      width: 240px;
      height: 288px;
      bottom: -152px;
      left: 20px;

      @media screen and (max-width: 1200px) {
        left: -60px;
      }

      @media screen and (max-width: 992px) {
        width: 180px;
        height: 220px;
        bottom: -280px;
        left: 24px;
      }

      @media screen and (max-width: 768px) {
        width: 120px;
        height: 144px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }
}


.invite {


  // .invite__inner
  &__inner {
    border-bottom: 1px solid rgba($color: #141414, $alpha: .3);
  }


  // .invite__title

  &__title {}

  // .invite__subtitle

  &__subtitle {
    margin-top: 8px;
    color: rgb(101, 104, 76);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  // .invite__slider

  &__slider {
    margin-top: 60px;

    @media screen and (max-width: 992px) {
      margin-top: 40px;
    }
  }

  // .invite__action

  &__action {
    display: grid;
    justify-items: center;
    gap: 40px;
    margin: 60px 0px 0px;
    padding: 40px 24px;
    border-radius: 24px;
    background: rgb(101, 104, 76);

    h3 {
      color: rgba($color: #ffffff, $alpha: 1.0);
      font-size: 30px;
      font-weight: 400;
      line-height: 112%;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    @media screen and (max-width: 992px) {
      margin: 40px 0px 0px;
    }
  }

  // .invite__btn

  &__btn {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        color: rgba($color: #141414, $alpha: 1.0);
      }
    }
  }


  .swiper-wrapper {
    padding-bottom: 24px;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    bottom: 0;
  }

  .swiper-pagination-bullet {
    flex: 1 1 33.3%;
    border-radius: 24px;
    background-color: #65684C;
    opacity: 0.2;
    transition: all $animation_speed;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

}

.card {
  height: 376px;
  padding: 24px;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-radius: 24px;

  overflow: hidden;

  @media (hover:hover) {
    &:hover {
      .card__bg {
        transform: scale(1.05);
      }
    }
  }

  // .card__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    transition: transform .3s ease;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.00deg, rgba(20, 20, 20, 0.1), rgb(20, 20, 20) 100%);
    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    height: 480px;
  }

  // .card__link

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: all 0.3s ease-in-out;
  }

  // .invite-card__icon

  &__icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 80px;
    backdrop-filter: blur(24px);
    background: rgba($color: #ffffff, $alpha: .3);
  }

  // .invite-card__content

  &__content {
    display: grid;
    gap: 24px;
    position: relative;
    z-index: 2;
  }

  // .invite-card__title

  &__title {
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-size: 30px;
    font-weight: 400;
    line-height: 112%;
  }

  // .invite-card__text

  &__text {
    color: rgba($color: #ffffff, $alpha: 1.0);
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
  }


  // .card__count

  &__count {
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: 992px) {
      align-items: flex-end;
    }
  }

  // .card__number

  &__number {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 0.8;

    @media screen and (max-width: 992px) {
      font-size: 32px;
    }
  }
}

.project__tags {
  .tag {
    padding: 12px 24px;
  }

  .tag-dark--brand-logo {
    padding: 4px 24px 4px 4px;
  }
}


.tags {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
}

// .tag

.tag {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 40px;
  backdrop-filter: blur(24px);
  background: rgba(255, 255, 255, 0.3);

  span {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
    white-space: nowrap;
  }

  // .tag--dark

  &--dark {
    line-height: 150%;
    font-size: 16px;
    color: rgba($color: #65684C, $alpha: 1.0);
    background-color: rgba($color: #65684C, $alpha: .1);

    span {
      color: inherit;
    }
  }

  // .tag-dark--brand-logo

  &-dark--brand-logo {
    padding: 4px 24px 4px 4px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  // .tag-light--brand-logo

  &-light--brand-logo {
    padding: 4px 12px 4px 4px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}




.projects {
  overflow: hidden;

  // .projects__inner

  &__inner {}

  // .projects__title

  &__title {
    @media screen and (min-width: 768px) {
      max-width: 611px;
    }
  }

  // .projects__subtitle
  &__subtitle {
    margin-top: 8px;
    color: rgba(20, 20, 20, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  // .projects__filter

  &__filter {}

  // .projects__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  // .projects__card

  &__card {
    grid-column: span 2;

    @media screen and (min-width: 992px) {
      &:nth-child(4n-3) {
        grid-column: span 2;
      }

      &:nth-child(4n-1) {
        grid-column: span 3;
      }

      &:nth-child(4n-2) {
        grid-column: span 3;
      }

      &:nth-child(4n) {
        grid-column: span 2;
      }
    }

    @media screen and (max-width: 768px) {
      grid-column: span 4;
    }
  }

  // .projects__buttons

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }

  // .projects__button

  &__button {}

  // .projects__btn

  &__btn {
    gap: 8px;
    background: rgba(101, 104, 76, 0.1);
    color: rgb(101, 104, 76);

    @media (hover:hover) {
      &:hover {
        background-color: #65684c;
        color: #fff !important;

        .text-swap {
          transform: translateY(-100%);

          &::before {
            background-image: url("@img/icons/Fabrikant-white.svg");
          }
        }
      }
    }

    .text-swap {
      display: flex;
      align-items: center;
      gap: 8px;

      &::before {
        content: "";
        background-size: cover;
        width: 24px;
        height: 24px;
      }

      &::before {
        background-image: url("@img/icons/Fabrikant.svg");
      }
    }
  }
}

.filter {
  overflow: hidden;
  overflow-x: auto;
  margin: 60px calc(((100vw - 1280px) / 2) + 21px) 40px;

  @media screen and (max-width: 1200px) {
    margin-left: calc(((100vw - 960px) / 2) + 24px);
  }

  @media screen and (max-width: 992px) {
    margin-left: calc(((100vw - 720px) / 2) + 24px);
  }

  @media screen and (max-width: 768px) {
    margin: 40px 0px 24px calc(((100vw - 540px) / 2) + 24px);
  }

  @media screen and (max-width: 578px) {
    margin-left: 24px;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  // .filter__inner

  &__inner {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
  }




  // .filter__btn

  &__btn {
    min-width: 186px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 40px;
    background: rgba(101, 104, 76, 0.1);
    color: rgb(101, 104, 76);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: .3s;

    @media (hover:hover) {
      &:hover {
        background: rgba(101, 104, 76, 0.15);
      }
    }

  }
}

.steps {
  position: relative;
  overflow: hidden;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .8);
    z-index: 1;
  }

  // .steps_bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  // .steps__inner

  &__inner {
    position: relative;
    z-index: 2;
  }

  // .steps__title

  &__title {
    color: rgba($color: #ffffff, $alpha: 1.0);
  }

  // .steps__subtitle

  &__subtitle {
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;

    @media screen and (max-width: 992px) {
      font-size: 27px;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  // .steps__btn

  &__btn {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        color: rgba($color: #141414, $alpha: 1.0);
      }
    }
  }

  // .steps__list

  &__list {
    @media screen and (min-width: 1024px) {
      display: grid;
      justify-content: end;
    }
  }
}

.step {
  display: flex;
  gap: 130px;
  justify-content: space-between;
  padding-top: 24px;
  margin-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  @media screen and (min-width: 1024px) {
    max-width: 819px;
  }

  @media screen and (max-width: 1024px) {
    gap: 50px;
  }

  @media screen and (max-width: 768px) {
    gap: 16px;
    flex-direction: column;
    margin-top: 40px;
  }

  // .step__left

  &__left {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  // .step__number

  &__number {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  // .step__title

  &__title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;
    max-width: 249px;

    @media screen and (max-width: 992px) {
      font-size: 24px;
    }
  }

  // .step__right

  &__right {}

  // .step__parag

  &__parag {
    max-width: 397px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    &+& {
      margin-top: 16px;
    }
  }
}

.doc {
  background-color: rgba($color: #65684C, $alpha: .1);

  // .doc__title

  &__title {}

  // .doc__grid

  &__grid {
    margin-top: 60px;

  }
}

.grid-doc {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px 239px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 1300px) {
    gap: 70px 120px;
  }

  @media screen and (max-width: 1200px) {
    gap: 40px 40px;
  }


  // .grid-doc__item

  &__item {}

  // .grid-doc__title

  &__title {
    color: rgb(20, 20, 20);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;

    @media screen and (max-width: 1200px) {
      font-size: 24px;
    }
  }

  // .grid-doc__list

  &__list {
    margin-top: 24px;

    li {
      display: grid;
      grid-template-columns: 30px 447px;
      grid-template-rows: 1fr auto;
      justify-items: start;
      column-gap: 21px;
      row-gap: 4px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 30px 1fr;
      }

      img {
        grid-row: span 2;
        margin-top: 5px;
      }

      a {
        position: relative;
        color: rgba(20, 20, 20, 0.8);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;


        @media (hover:hover) {
          &:hover::before {
            background-color: rgba(101, 104, 76, 1);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 1px;
          background-color: rgba(101, 104, 76, 0.5);
          transition: .3s;
        }
      }

      span {
        color: rgba(20, 20, 20, 0.4);
        font-size: 14px;
        font-weight: 400;
        line-height: 145%;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}



// .text-mask-container {
//   width: 100%;
//   height: auto;
//   overflow: hidden;
//   /* Скрываем текст, который выходит за пределы */
// }

// .text-mask {
//   display: block;
//   width: 100%;
//   position: relative;
// }


.text-line {
  display: block;
  transform: translateY(100%);
  /* Начальная позиция текста */
  will-change: transform, opacity;
}

// .text-mask-container {
//   position: relative;
//   display: inline-block;
//   height: auto;
// }

// Project - Страница проекта

.project {

  // .project__tags

  &__tags {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: calc((100vw - 1280px) / 2);
    margin-left: 24px;

    @media screen and (max-width: 1200px) {
      padding-left: calc((100vw - 960px) / 2);
    }

    @media screen and (max-width: 992px) {
      padding-left: calc((100vw - 720px) / 2);
    }

    @media screen and (max-width: 768px) {
      padding-left: calc((100vw - 540px) / 2);
    }

    @media screen and (max-width: 578px) {
      padding-left: 24px;
      margin-left: 0px;
    }

    @media screen and (max-width: 655px) {
      flex-direction: column;
      align-items: flex-start;
    }



    .tags {
      gap: 24px;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
    }


  }

  // .project__header

  &__header {
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }

  // .project__title

  &__title {}

  // .project__subtitle

  &__subtitle {
    margin-top: 8px;
    color: rgb(101, 104, 76);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;

    @media screen and (max-width: 992px) {
      font-size: 24px;
    }

    // .project__subtitle--fz

    &--fz {
      font-size: 20px;
    }
  }

  // .project__text

  &__text {
    color: rgba(20, 20, 20, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  // .project__slider

  &__slider {
    margin-top: 60px;
    position: relative;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }

  // .project__swiper-wrapper

  &__swiper-wrapper {}

  // .project__slide

  &__slide {
    width: 100%;
    height: 720px;
    padding: 40px;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 24px;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      height: 620px;
    }

    @media screen and (max-width: 1024px) {
      height: 520px;
    }

    @media screen and (max-width: 520px) {
      height: 380px;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);

    }
  }

  // .project__slider-logo

  &__slider-logo {
    position: relative;
    transition: $animation_speed;
    transform: translateY(30px);
    opacity: .5;
  }

  .swiper-slide-active {
    .project__slider-logo {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .swiper {}

  .swiper-wrapper {}

  .swiper-slide {}

  .swiper-navigation {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    border-radius: 40px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.2);
    transition: $animation_speed;


    &::after {
      font-size: 10px;
      color: rgba($color: #ffffff, $alpha: 1.0);
    }

    @media (hover:hover) {
      &:hover {
        background: rgba(255, 255, 255, 1);

        &::after {
          color: rgba($color: #141313, $alpha: 1.0);
        }
      }
    }
  }

  .swiper-button-next {}

  .swiper-pagination {
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    flex: 1;
    background-color: rgba($color: #65684C, $alpha: .2);
    opacity: 1;
    border-radius: 24px;
    transition: $animation_speed;
  }

  .swiper-pagination-bullet-active {
    background-color: rgba($color: #65684C, $alpha: 1);
  }

}

.interiors {

  // .interiors__inner

  &__inner {
    border-top: 1px solid rgba($color: #141414, $alpha: .3);
  }

  // .interiors__row

  &__row {
    gap: 60px;

    @media screen and (max-width: 992px) {
      gap: 40px;
    }
  }
}

.indicators {

  // .indicators__inner

  &__inner {}

  // .indicators__row

  &__row {
    margin-top: 60px;
    row-gap: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
      row-gap: 24px;
    }
  }

  // .indicators__card

  &__card {}
}

.card-indicator {

  // .card-indicator__top

  &__top {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }

  // .card-indicator__number

  &__number {
    color: rgb(101, 104, 76);
    font-size: 60px;
    font-weight: 400;
    line-height: 90%;

    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  // .card-indicator__name

  &__name {
    color: rgb(101, 104, 76);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.lists {

  // .lists__row

  &__row {
    gap: 60px;

    @media screen and (max-width: 768px) {
      gap: 40px;
    }
  }

  // .lists__title

  &__title {
    color: rgb(101, 104, 76);
    font-size: 32px;
    font-weight: 400;
    line-height: 112%;
    margin-bottom: 24px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
}

.list {

  // .list__list

  &__list {}

  // .list__item

  &__item {
    color: rgba(20, 20, 20, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    &+& {
      margin-top: 16px;
    }
  }
}

.full-screen-image {
  height: 100vh;
  min-height: 240px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


  @media screen and (max-width: 1024px) {
    height: 520px;
  }

  @media screen and (max-width: 768px) {
    height: 350px;
  }

  @media screen and (max-width: 615px) {
    height: 240px;
  }
}

.interiors-slider {
  position: relative;

  // .interiors-slider__slider

  &__slider {}

  // .interiors-slider__wrapper

  &__wrapper {}

  // .interiors-slider__slide

  &__slide {
    width: 100%;
    height: 100vh;
    min-height: 240px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 1200px) {
      height: 620px;
    }

    @media screen and (max-width: 768px) {
      height: 520px;
    }

    @media screen and (max-width: 520px) {
      height: 240px;
    }
  }

  .swiper {}

  .swiper-wrapper {}

  .swiper-pagination {}

  .swiper-navigation {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .swiper-button-prev {}

  .swiper-button-next {}

  .swiper-container {}


  .swiper-slide {}
}

.thumbs-slider {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0px;
  z-index: 99;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    bottom: 8px;
  }

  // .thumbs-slider__slide

  &__slide {
    position: relative;
    width: 171px !important;
    height: 95px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 120px !important;
      height: 60px;
    }

    @media screen and (max-width: 520px) {
      width: 80px !important;
      height: 48px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-slide-thumb-active {
    &::before {
      background-color: transparent;
    }
  }
}

.slider-prev,
.slider-next {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  border-radius: 40px;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.2);
  transition: $animation_speed;


  &::after {
    font-size: 14px;
    color: rgba($color: #ffffff, $alpha: 1.0);
  }

  @media (hover:hover) {
    &:hover {
      background: rgba(255, 255, 255, 1);

      &::after {
        color: rgba($color: #141313, $alpha: 1.0);
      }
    }
  }
}