// Normalize.css
@import "../../node_modules/normalize.css/normalize";

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Swiper
@import '../../node_modules/swiper/swiper';
@import '../../node_modules/swiper/swiper-bundle';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_header";
@import "_footer";
@import "global.scss";
@import "page.scss";
@import "animations.scss";
@import "popup.scss";
@import "_fixes.scss";

@import "blocks/emplement.scss";
@import "blocks/coockie.scss";
@import "blocks/contact.scss";

@import "pages/error-page.scss";
@import "components/btn.scss";

:root {
  --app-height: 100%;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;

}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;

  main {
    flex: 1 1 auto;
  }
}